# Ignore everything
/*

# Except these files & folders
!/src
!/public
!/docs
!/scripts
!/tests
!/.github
!tsconfig.json
!astro.config.ts
!playwright.config.ts
!playwright.sitemap.config.ts
!.prettierrc.mjs
!package.json
!.prettierrc
!eslint.config.js
!README.md

# Ignore minified files
public/mermaid.min.js
